Repository Abernaughty/PCPC: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Path conditions:
  .ado/azure-pipelines-pr.yml: any file but: docs, README.md, .gitignore
  .ado/azure-pipelines.yml: any of: app, infra, apim, .ado, but not: **/*.md, docs, tests
  pipelines/azure-pipelines.yml: any of: infra, pipelines
  pipelines/legacy/frontend-pipeline.yml: any of: app/frontend, pipelines/frontend-pipeline.yml, pipelines/templates/frontend-*.yml, pipelines/scripts/verify-frontend-deployment.sh

Added cache busting to runtime env script
  app/frontend/src/index.html
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

feat(infra): migrate SWA to runtime configuration with APIM URLs
  app/frontend/.env.example
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/rollup.config.cjs
  app/frontend/src/config/environment.js
  app/frontend/src/config/runtimeConfig.ts
  app/frontend/src/data/apiConfig.js
  app/frontend/src/data/cloudApiConfig.js
  app/frontend/src/services/cloudDataService.js
  app/frontend/src/services/pokeDataService.js
  app/frontend/src/vite-env.d.ts
  app/frontend/static/env.template.js
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
  staticwebapp.config.json
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Azure Static Web App Runtime Configuration Migration
  .ado/templates/build.yml
  .ado/templates/deploy-swa.yml
  app/frontend/src/debug-env.js
  app/frontend/src/debug/debug-api.js
  app/frontend/src/debug/utils/env.js
  app/frontend/src/debug/utils/index.js
  app/frontend/src/index.html
  pipelines/scripts/generate-env-config.sh
  staticwebapp.config.json
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Removed unnecessary secrets from function app config
  .ado/templates/deploy-infra.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Updated set mapping to correctly use CosmosDB
  app/backend/scripts/migrate-json-to-cosmos.js
  app/backend/src/services/PokeDataToTcgMappingService.ts
  app/backend/src/services/SetMappingOrchestrator.ts
  app/backend/src/services/SetMappingRepository.ts
  app/backend/src/services/SetMappingService.ts
  app/backend/src/services/SetMatchingEngine.ts
  docs/set-mapping-fixes-summary.md
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fixed bug in processSet method where unmatched sets that didn't change were uncorrectly counted as unchangedMappings instead of unmatchedSets
  app/backend/src/services/SetMappingOrchestrator.ts
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Troubleshooting APIM/Function App/SWA terraform drift due to conflicting APIM product ownership and deploy_package_hash lifecycle management
  infra/modules/api-management/main.tf
  infra/modules/function-app/main.tf
  infra/modules/static-web-app/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Updated docs
  docs/apim-product-state-migration.md
  docs/deployment-guide.md
Due: none

debugging set mappings
  app/backend/scripts/debug-set-mapping.js
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

APIM terraform approval_required adjustments
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Added function_app_secret_exclusions and a derived function_app_secrets_filtered map so the service-principal credentials stay in Key Vault/pipeline but never reach the Function App config
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/tfplan
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fixed function_app_secret_exclusions list to use hyphenated names
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Updated terraform syntax in function_app_secrets_filtered
  infra/envs/dev/tfplan
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Adding app insights variables to terraform
  infra/envs/dev/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Added lightweight helper that pulls existing function app settings directly from ARM with an Azure CLI fallback so we can re-merge externally managed keys without hard-coding secrets
  .devcontainer/.bashrc
  .devcontainer/setup.sh
  .devcontainer/startup.sh
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
  infra/modules/function-app/main.tf
  infra/modules/function-app/scripts/get-app-settings.sh
  infra/modules/function-app/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Hardened the app-settings helper and made the module resilient when no remote values are retrieved
  infra/modules/function-app/main.tf
  infra/modules/function-app/scripts/get-app-settings.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Update devcontainer image to public ghcr.io image
  .devcontainer/codespace/devcontainer.json
  .devcontainer/docker-compose.yml
  docs/function-app-app-settings-drift.md
  infra/envs/dev/outputs.tf
  infra/envs/dev/variables.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Trigger synchronizeSetMappings function after deployment
  .ado/templates/deploy-functions.yml
  app/backend/src/functions/SynchronizeSetMappings/index.ts
  docs/set-mapping-pipeline-integration.md
  pipelines/scripts/trigger-set-mapping-sync.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Revert "Trigger synchronizeSetMappings function after deployment"
  .ado/templates/deploy-functions.yml
  app/backend/src/functions/SynchronizeSetMappings/index.ts
  docs/set-mapping-pipeline-integration.md
  pipelines/scripts/trigger-set-mapping-sync.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Removing halucinated command, calling admin endpoint instead
  .ado/templates/deploy-functions.yml
  app/backend/src/functions/SynchronizeSetMappings/index.ts
  docs/set-mapping-pipeline-integration.md
  pipelines/scripts/trigger-set-mapping-sync.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Added hidden-link: /app-insights-resource-id tag to terraform
  infra/modules/function-app/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml
