Repository Abernaughty/PCPC: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

.ado/azure-pipelines-pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ValidateFrontend
    displayName: Validate Frontend
    jobs:
    - template: templates/validate-frontend.yml
      parameters:
        nodeVersion: $(nodeVersion)
  - stage: ValidateBackend
    displayName: Validate Backend
    jobs:
  ...

.ado/azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build Unified Artifact
    jobs:
    - template: templates/build.yml
      parameters:
        buildConfiguration: $(buildConfiguration)
        nodeVersion: $(nodeVersion)
  - stage: Deploy_Dev
    displayName: Deploy to Dev
    dependsOn: Build
    condition: succeeded()
  ...

pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - template: templates/terraform-validate.yml
  - stage: Plan
    displayName: Terraform Plan - Dev
    dependsOn: Validate
    condition: succeeded()
    jobs:
    - template: templates/terraform-plan.yml
  ...

pipelines/legacy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build & Test Frontend
    jobs:
    - template: templates/frontend-build.yml
      parameters:
        nodeVersion: $(nodeVersion)
        workingDirectory: $(workingDirectory)
  - stage: Deploy
    displayName: Deploy to Static Web App
  ...

Fixed indentation in deploy-functions and deploy-swa
  .ado/templates/deploy-functions.yml
  .ado/templates/deploy-swa.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

startup.sh
  .devcontainer/startup.sh
Due: .ado/azure-pipelines-pr.yml

Fixed pipeline azurerm version
  apim/environments/dev/main.tf
  apim/terraform/main.tf
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
  infra/modules/api-management/main.tf
  infra/modules/api-management/versions.tf
  infra/modules/application-insights/main.tf
  infra/modules/cosmos-db/versions.tf
  infra/modules/function-app/versions.tf
  infra/modules/log-analytics/main.tf
  infra/modules/resource-group/main.tf
  infra/modules/static-web-app/versions.tf
  infra/modules/storage-account/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Added kv to terraform
  apim/terraform/import-existing-resources.sh
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/variables.tf
  infra/envs/prod/import-existing-resources.sh
  infra/envs/prod/main.tf
  infra/envs/prod/outputs.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/import-existing-resources.sh
  infra/envs/staging/main.tf
  infra/envs/staging/outputs.tf
  infra/envs/staging/variables.tf
  infra/modules/key-vault/main.tf
  infra/modules/key-vault/outputs.tf
  infra/modules/key-vault/variables.tf
  infra/modules/key-vault/versions.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fixed azurerm version constraint
  .ado/templates/seed-key-vault.yml
  infra/modules/key-vault/versions.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fixed trim argument
  infra/modules/key-vault/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Pointed terraform steps at wrapper modules
  .ado/templates/deploy-apim.yml
  apim/environments/dev/terraform.tfvars.example
  apim/environments/prod/main.tf
  apim/environments/prod/terraform.tfvars.example
  apim/environments/prod/variables.tf
  apim/environments/staging/main.tf
  apim/environments/staging/terraform.tfvars.example
  apim/environments/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fixed app insights variable references
  apim/environments/dev/terraform.tfvars.example
  apim/environments/dev/variables.tf
  apim/environments/prod/terraform.tfvars.example
  apim/environments/prod/variables.tf
  apim/environments/staging/terraform.tfvars.example
  apim/environments/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Added SWA url output for APIM cors config
  .devcontainer/setup.sh
Due: .ado/azure-pipelines-pr.yml

Added subscription_limit=1 to prod unlimited product
  .ado/azure-pipelines.yml
  .ado/templates/deploy-swa.yml
  apim/environments/dev/main.tf
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
  apim/policies/generated/backend-policy-dev.xml
  apim/policies/generated/cache-sets-policy-dev.xml
  apim/policies/generated/global-policy-dev.xml
  apim/terraform/main.tf
  infra/modules/api-management/main.tf
  infra/modules/cosmos-db/examples/basic/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fix: Updated the Static Web App deploy template so the smoke test step now pulls the URL from the GetStaticWebAppUrl task output before invoking the verification script
  .ado/templates/deploy-swa.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Added Porkbun provider wiring and custom-domain locals/resources so each environment now provisions the CNAME record and binds the Azure Static Web App to the expected hostname
  docs/deployment-guide.md
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/variables.tf
  infra/envs/prod/main.tf
  infra/envs/prod/outputs.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/main.tf
  infra/envs/staging/outputs.tf
  infra/envs/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fix: cullenmcdermott/porkbun provider
  .devcontainer/startup.sh
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Include Porkbun secrets in Terraform pipeline config
  .ado/templates/deploy-infra.yml
  .devcontainer/.bashrc
  .devcontainer/startup.sh
  .gitignore
  infra/envs/generate-secrets-tfvars.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fix: porkbun dns ttl minimum 600 ms
  infra/envs/dev/variables.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fixed variables using underscore rather than hyphen
  .ado/templates/deploy-infra.yml
  infra/envs/dev/main.tf
  infra/envs/dev/variables.tf
  infra/envs/prod/main.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/main.tf
  infra/envs/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Added apim subscription key fetch before frontend build
  .ado/azure-pipelines.yml
  .ado/templates/build.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Enhanced APIM security posture
  apim/environments/dev/main.tf
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
  apim/terraform/apis.tf
  apim/terraform/variables.tf
  infra/modules/api-management/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fix: directive is not allowed in this context
  .ado/templates/build.yml
  app/frontend/src/config/environment.js
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Fix: apis can't be in multiple open products
  .ado/templates/build.yml
  apim/environments/dev/main.tf
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
  apim/terraform/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Removed premium product from APIM
  apim/terraform/import-existing-resources.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Path conditions:
  .ado/azure-pipelines-pr.yml: any file but: docs, README.md, .gitignore
  .ado/azure-pipelines.yml: any of: app, infra, apim, .ado, but not: **/*.md, docs, tests
  pipelines/azure-pipelines.yml: any of: infra, pipelines
  pipelines/legacy/frontend-pipeline.yml: any of: app/frontend, pipelines/frontend-pipeline.yml, pipelines/templates/frontend-*.yml, pipelines/scripts/verify-frontend-deployment.sh
