Repository Abernaughty/PCPC: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

.ado/azure-pipelines-pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ValidateFrontend
    displayName: Validate Frontend
    jobs:
    - template: templates/validate-frontend.yml
      parameters:
        nodeVersion: $(nodeVersion)
  - stage: ValidateBackend
    displayName: Validate Backend
    jobs:
  ...

.ado/azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build Unified Artifact
    jobs:
    - template: templates/build.yml
      parameters:
        buildConfiguration: $(buildConfiguration)
        nodeVersion: $(nodeVersion)
  - stage: Deploy_Dev
    displayName: Deploy to Dev
    dependsOn: Build
    condition: succeeded()
  ...

pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - template: templates/terraform-validate.yml
  - stage: Plan
    displayName: Terraform Plan - Dev
    dependsOn: Validate
    condition: succeeded()
    jobs:
    - template: templates/terraform-plan.yml
  ...

pipelines/legacy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build & Test Frontend
    jobs:
    - template: templates/frontend-build.yml
      parameters:
        nodeVersion: $(nodeVersion)
        workingDirectory: $(workingDirectory)
  - stage: Deploy
    displayName: Deploy to Static Web App
  ...

FIX: Added base to policy templates
  apim/policies/templates/azure-functions-backend.xml.tpl
  apim/policies/templates/cache-sets-response.xml.tpl
  apim/policies/templates/global-policy.xml.tpl
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Removed base from lower level backend policy sections to prevent duplicate forward-requests
  .ado/templates/deploy-apim.yml
  .ado/templates/deploy-infra.yml
  apim/policies/templates/azure-functions-backend.xml.tpl
  apim/policies/templates/cache-sets-response.xml.tpl
  docs/deployment-guide.md
  pipelines/legacy/templates/terraform-apply.yml
  pipelines/legacy/templates/terraform-plan.yml
  pipelines/legacy/templates/terraform-validate.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Removed base from APIM global-policy.xml.tpl
  apim/policies/templates/global-policy.xml.tpl
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fix: rate limiting curl statement and added infra and apim pipeline 'hasChanges' condition
  .ado/scripts/health-check-apim.sh
  .ado/templates/deploy-apim.yml
  .ado/templates/deploy-infra.yml
  infra/modules/function-app/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fix: steps to task in terraform apply condition
  .ado/templates/deploy-apim.yml
  .ado/templates/deploy-infra.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

task to variables for tf condition
  .ado/templates/deploy-apim.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Idk updates to deploy apim/infra didn't stick
  .ado/templates/deploy-apim.yml
  .ado/templates/deploy-infra.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Failing to fix terraform drift
  infra/envs/dev/main.tf
  infra/envs/dev/tfplan
  infra/envs/generate-secrets-tfvars.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

ignore-changes for additional app_settings
  infra/modules/function-app/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Resolve conflict
  infra/envs/dev/tfplan
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Update .gitignore and removed env block from host.json
  .gitignore
  app/backend/host.json
  infra/modules/function-app/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fix: Smoke Test job report
  .ado/templates/smoke-tests.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fix: create_application_insights
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
  infra/modules/function-app/main.tf
  infra/modules/function-app/outputs.tf
  infra/modules/function-app/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fix: Tightened the Application Insights guardrails so legacy callers stay safe
  infra/modules/function-app/main.tf
  infra/modules/function-app/outputs.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

WIP: pipeline fixes
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
  infra/modules/function-app/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Upgraded azurerm provider to latest version
  apim/environments/dev/main.tf
  apim/terraform/main.tf
  docs/deployment-guide.md
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
  infra/modules/api-management/main.tf
  infra/modules/api-management/versions.tf
  infra/modules/application-insights/main.tf
  infra/modules/cosmos-db/versions.tf
  infra/modules/function-app/versions.tf
  infra/modules/log-analytics/main.tf
  infra/modules/resource-group/main.tf
  infra/modules/static-web-app/versions.tf
  infra/modules/storage-account/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Terraform apply now runs under set -euo pipefall and explicitly existts on ts on a non-zero terraform apply result
  .ado/templates/deploy-infra.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fix terraform apply bug
  .ado/templates/deploy-infra.yml
  .devcontainer/devcontainer.json
  .devcontainer/startup.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

.gitignore
  .gitignore
Due: none

Updated default location for infra
  infra/envs/dev/variables.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/variables.tf
  infra/modules/resource-group/README.md
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fixed indentation in deploy-functions and deploy-swa
  .ado/templates/deploy-functions.yml
  .ado/templates/deploy-swa.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Path conditions:
  .ado/azure-pipelines-pr.yml: any file but: docs, README.md, .gitignore
  .ado/azure-pipelines.yml: any of: app, infra, apim, .ado, but not: **/*.md, docs, tests
  pipelines/azure-pipelines.yml: any of: infra, pipelines
  pipelines/legacy/frontend-pipeline.yml: any of: app/frontend, pipelines/frontend-pipeline.yml, pipelines/templates/frontend-*.yml, pipelines/scripts/verify-frontend-deployment.sh
