Repository Abernaughty/PCPC: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

.ado/azure-pipelines-pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ValidateFrontend
    displayName: Validate Frontend
    jobs:
    - template: templates/validate-frontend.yml
      parameters:
        nodeVersion: $(nodeVersion)
  - stage: ValidateBackend
    displayName: Validate Backend
    jobs:
  ...

.ado/azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build Unified Artifact
    jobs:
    - template: templates/build.yml
      parameters:
        buildConfiguration: $(buildConfiguration)
        nodeVersion: $(nodeVersion)
  - stage: Deploy_Dev
    displayName: Deploy to Dev
    dependsOn: Build
    condition: succeeded()
  ...

pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - template: templates/terraform-validate.yml
  - stage: Plan
    displayName: Terraform Plan - Dev
    dependsOn: Validate
    condition: succeeded()
    jobs:
    - template: templates/terraform-plan.yml
  ...

pipelines/legacy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build & Test Frontend
    jobs:
    - template: templates/frontend-build.yml
      parameters:
        nodeVersion: $(nodeVersion)
        workingDirectory: $(workingDirectory)
  - stage: Deploy
    displayName: Deploy to Static Web App
  ...

Default optional APIM pipeline variables
  .ado/templates/deploy-apim.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fix: Unset variable due to strict bash error handling
  .ado/templates/deploy-apim.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

ignore repo_url and repository_branch in swa tf
  infra/modules/static-web-app/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fix: nonexistant az apim backend to az rest method
  .ado/templates/deploy-apim.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

fix: healthcheck endpoint parsing
  .ado/scripts/health-check-functions.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

tf update
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fix: APIM and Func App Smoke Tests
  .ado/azure-pipelines.yml
  .ado/scripts/health-check-apim.sh
  .ado/scripts/health-check-functions.sh
  .ado/scripts/health-check-swa.sh
  .ado/templates/smoke-tests.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fix: Validate-apim added missing tooling
  .ado/templates/validate-apim.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Created repo-local Spectral ruleset.
  .ado/templates/validate-apim.yml
  apim/specs/.spectral.yaml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Removed CreatedDate tags to prevent churn
  app/backend/host.json
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
  infra/modules/api-management/main.tf
  infra/modules/application-insights/main.tf
  infra/modules/cosmos-db/main.tf
  infra/modules/function-app/main.tf
  infra/modules/log-analytics/main.tf
  infra/modules/resource-group/main.tf
  infra/modules/static-web-app/main.tf
  infra/modules/storage-account/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

terraform fmt
  infra/envs/dev/main.tf
  infra/envs/staging/main.tf
  infra/modules/cosmos-db/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Troubleshooting APIM health check scripts
  .ado/scripts/health-check-apim.sh
  .ado/scripts/health-check-functions.sh
  apim/terraform/apis.tf
  apim/terraform/main.tf
  memory-bank/memory-bank-backup/PokeDataFunc/projectbrief.md
  memory-bank/memory-bank-backup/Portfolio/memory-bank/activeContext.md
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Troubleshooting APIM health check scripts
  .ado/scripts/health-check-apim.sh
  .ado/scripts/health-check-functions.sh
  apim/terraform/apis.tf
  apim/terraform/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Restore API prefix for set list health check
  .ado/scripts/health-check-functions.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fix: health-check-functions
  .ado/scripts/health-check-apim.sh
  .ado/scripts/health-check-functions.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fix GetSetList parsing error handling
  .ado/scripts/health-check-functions.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Added function app key named value to APIM
  .ado/scripts/health-check-apim.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Named value fix
  .ado/azure-pipelines.yml
  .ado/templates/deploy-apim.yml
  .ado/templates/smoke-tests.yml
  apim/docs/README.md
  apim/policies/templates/azure-functions-backend.xml.tpl
  apim/terraform/apis.tf
  infra/modules/function-app/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fixed subscription ID variable reference
  .ado/scripts/lib/apim.sh
  .ado/templates/smoke-tests.yml
  tests/scripts/resolve-apim-master-key.test.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Updated devcontainer.json to include codex cxteextension
  .devcontainer/devcontainer.json
Due: .ado/azure-pipelines-pr.yml

Revert "Updated devcontainer.json to include codex cxteextension"
  .devcontainer/devcontainer.json
Due: .ado/azure-pipelines-pr.yml

FIX: Added base to policy templates
  apim/policies/templates/azure-functions-backend.xml.tpl
  apim/policies/templates/cache-sets-response.xml.tpl
  apim/policies/templates/global-policy.xml.tpl
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Path conditions:
  .ado/azure-pipelines-pr.yml: any file but: docs, README.md, .gitignore
  .ado/azure-pipelines.yml: any of: app, infra, apim, .ado, but not: **/*.md, docs, tests
  pipelines/azure-pipelines.yml: any of: infra, pipelines
  pipelines/legacy/frontend-pipeline.yml: any of: app/frontend, pipelines/frontend-pipeline.yml, pipelines/templates/frontend-*.yml, pipelines/scripts/verify-frontend-deployment.sh
