Repository Abernaughty/PCPC: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Path conditions:
  .ado/azure-pipelines-pr.yml: any file but: docs, README.md, .gitignore
  .ado/azure-pipelines.yml: any of: app, infra, apim, .ado, but not: **/*.md, docs, tests
  pipelines/azure-pipelines.yml: any of: infra, pipelines
  pipelines/legacy/frontend-pipeline.yml: any of: app/frontend, pipelines/frontend-pipeline.yml, pipelines/templates/frontend-*.yml, pipelines/scripts/verify-frontend-deployment.sh

chore(frontend): remove unused PriceTable and GradedPriceGrid components
  frontend/src/lib/components/GradedPriceGrid.svelte
  frontend/src/lib/components/PriceTable.svelte
  frontend/src/lib/components/index.ts
Due: .ado/azure-pipelines-pr.yml

chore(frontend): remove unused PriceTable and GradedPriceGrid components (#224)
  frontend/src/lib/components/GradedPriceGrid.svelte
  frontend/src/lib/components/PriceTable.svelte
  frontend/src/lib/components/index.ts
Due: .ado/azure-pipelines-pr.yml

docs: sync stale docs with current Scrydex three-path state
  docs/LOCAL_DEVELOPMENT.md
  docs/api-reference.md
  docs/architecture.md
  docs/development-guide.md
  docs/frontend-theming-style-guide.md
  docs/monitoring.md
  docs/performance.md
  docs/security.md
  docs/troubleshooting.md
Due: none

docs: fix medium/low doc drift (ADR index, infra, deployment guide)
  README.md
  docs/adr/README.md
  docs/architecture-comparison.md
  docs/deployment-guide.md
  frontend/PCPC_Redesign_Spec.md
  infra/README.md
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

docs(api-reference): fix APIM base URL and subscription-key model
  docs/api-reference.md
Due: none

docs: sync stale docs with current Scrydex three-path state (#225)
  README.md
  docs/LOCAL_DEVELOPMENT.md
  docs/adr/README.md
  docs/api-reference.md
  docs/architecture-comparison.md
  docs/architecture.md
  docs/deployment-guide.md
  docs/development-guide.md
  docs/frontend-theming-style-guide.md
  docs/monitoring.md
  docs/performance.md
  docs/security.md
  docs/troubleshooting.md
  frontend/PCPC_Redesign_Spec.md
  infra/README.md
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

chore(deps): clear Dependabot alerts; drop stale root lockfile, bump deps
  backend/functions/package-lock.json
  backend/functions/package.json
  frontend/package.json
  package-lock.json
  package.json
  pipelines/ado/templates/build.yml
  pnpm-lock.yaml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(ci): install root deps via pnpm in PR backend validation
  pipelines/ado/templates/validate-backend.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(ci): install pnpm via npm instead of corepack
  pipelines/ado/templates/build.yml
  pipelines/ado/templates/validate-backend.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(ci): run pnpm via npx (ADO container runs as non-root)
  pipelines/ado/templates/build.yml
  pipelines/ado/templates/validate-backend.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

chore(deps): clear Dependabot alerts — drop stale root lockfile, bump deps (#226)
  backend/functions/package-lock.json
  backend/functions/package.json
  frontend/package.json
  package-lock.json
  package.json
  pipelines/ado/templates/build.yml
  pipelines/ado/templates/validate-backend.yml
  pnpm-lock.yaml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

chore(dependabot): batch version updates, disable auto-rebase
  .github/dependabot.yml
Due: .ado/azure-pipelines-pr.yml

chore(dependabot): batch version updates, disable auto-rebase (#230)
  .github/dependabot.yml
Due: .ado/azure-pipelines-pr.yml

refactor(backend): unify backend/functions into the pnpm workspace
  .github/dependabot.yml
  backend/functions/Dockerfile
  backend/functions/package-lock.json
  backend/functions/package.json
  pipelines/ado/templates/build-and-push-image.yml
  pipelines/ado/templates/build.yml
  pipelines/ado/templates/deploy-functions.yml
  pipelines/ado/templates/validate-backend.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

docs: remove stray git conflict marker in PCPC redesign spec
  frontend/PCPC_Redesign_Spec.md
Due: .ado/azure-pipelines-pr.yml

fix(ci): make pnpm deploy lockfile-faithful (drop --legacy)
  pipelines/ado/templates/build-and-push-image.yml
  pipelines/ado/templates/build.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

docs: remove stray git conflict marker in PCPC redesign spec (#233)
  frontend/PCPC_Redesign_Spec.md
Due: .ado/azure-pipelines-pr.yml

refactor(backend): unify backend/functions into the pnpm workspace (#232)
  .github/dependabot.yml
  backend/functions/Dockerfile
  backend/functions/package-lock.json
  backend/functions/package.json
  pipelines/ado/templates/build-and-push-image.yml
  pipelines/ado/templates/build.yml
  pipelines/ado/templates/deploy-functions.yml
  pipelines/ado/templates/validate-backend.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

ci(image): scoped, time-boxed Trivy waiver for base-image MessagePack CVE
  .trivyignore.yaml
  pipelines/ado/templates/build-and-push-image.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

ci(image): scoped, time-boxed Trivy waiver for base-image MessagePack CVE (#235)
  .trivyignore.yaml
  pipelines/ado/templates/build-and-push-image.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

ci(image): scope MessagePack Trivy waiver to the base-image bundle path
  .trivyignore.yaml
Due: .ado/azure-pipelines-pr.yml

ci(smoke): make response-time check best-of-3 to de-flake cold starts
  pipelines/ado/scripts/health-check-functions.sh
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

ci(smoke): make response-time check best-of-3 to de-flake cold starts (#236)
  pipelines/ado/scripts/health-check-functions.sh
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(backend): migrate RedisCacheService SCAN to redis 6 string cursors
  backend/functions/src/services/RedisCacheService.ts
Due: .ado/azure-pipelines-pr.yml

fix(pipelines): security & correctness fixes from ADO pipeline audit
  pipelines/ado/azure-pipelines-pr.yml
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/scripts/health-check-functions.sh
  pipelines/ado/templates/build.yml
  pipelines/ado/templates/deploy-functions.yml
  pipelines/ado/templates/deploy-infra.yml
  pipelines/ado/templates/seed-key-vault.yml
  pipelines/ado/templates/smoke-tests.yml
  pipelines/ado/templates/validate-backend.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(pipelines): make PR validation summary skip (not fail) on success
  pipelines/ado/azure-pipelines-pr.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(pipelines): security & correctness fixes from ADO pipeline audit (#237)
  pipelines/ado/azure-pipelines-pr.yml
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/scripts/health-check-functions.sh
  pipelines/ado/templates/build.yml
  pipelines/ado/templates/deploy-functions.yml
  pipelines/ado/templates/deploy-infra.yml
  pipelines/ado/templates/seed-key-vault.yml
  pipelines/ado/templates/smoke-tests.yml
  pipelines/ado/templates/validate-backend.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

refactor(pipelines): dedup CD stages, centralize pnpm, drop dead version params
  pipelines/ado/azure-pipelines-pr.yml
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/templates/build-and-push-image.yml
  pipelines/ado/templates/build.yml
  pipelines/ado/templates/deploy-apim.yml
  pipelines/ado/templates/deploy-infra.yml
  pipelines/ado/templates/deploy-stage.yml
  pipelines/ado/templates/steps/bundle-functions.yml
  pipelines/ado/templates/validate-backend.yml
  pipelines/ado/templates/validate-infrastructure.yml
  pipelines/ado/variables/versions.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

perf(pipelines): migrate artifact tasks to PublishPipelineArtifact (fix ~21-min publish)
  pipelines/ado/templates/build-ci-images.yml
  pipelines/ado/templates/build.yml
  pipelines/ado/templates/deploy-functions.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

refactor(pipelines): dedup CD stages, centralize pnpm, drop dead params (#238)
  pipelines/ado/azure-pipelines-pr.yml
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/templates/build-and-push-image.yml
  pipelines/ado/templates/build-ci-images.yml
  pipelines/ado/templates/build.yml
  pipelines/ado/templates/deploy-apim.yml
  pipelines/ado/templates/deploy-functions.yml
  pipelines/ado/templates/deploy-infra.yml
  pipelines/ado/templates/deploy-stage.yml
  pipelines/ado/templates/steps/bundle-functions.yml
  pipelines/ado/templates/validate-backend.yml
  pipelines/ado/templates/validate-infrastructure.yml
  pipelines/ado/variables/versions.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

ci(pipelines): hardening from ADO pipeline audit (P1–P6)
  pipelines/ado/README.md
  pipelines/ado/azure-pipelines-pr.yml
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/scripts/update-ci-image-digests.sh
  pipelines/ado/templates/build-ci-images.yml
  pipelines/ado/templates/build.yml
  pipelines/ado/templates/deploy-stage.yml
  pipelines/ado/templates/validate-apim.yml
  pipelines/ado/templates/validate-backend.yml
  pipelines/ado/templates/validate-infrastructure.yml
  pipelines/ado/variables/ci-images.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

ci(pipelines): raise Build-stage timeouts above observed runtime
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/templates/build.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

ci(pipelines): drop trigger `batch: true` from CD (addresses PR #239 review)
  pipelines/ado/azure-pipelines.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

ci(pipelines): hardening from ADO pipeline audit (P1–P6) (#239)
  pipelines/ado/README.md
  pipelines/ado/azure-pipelines-pr.yml
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/scripts/update-ci-image-digests.sh
  pipelines/ado/templates/build-ci-images.yml
  pipelines/ado/templates/build.yml
  pipelines/ado/templates/deploy-stage.yml
  pipelines/ado/templates/validate-apim.yml
  pipelines/ado/templates/validate-backend.yml
  pipelines/ado/templates/validate-infrastructure.yml
  pipelines/ado/variables/ci-images.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

docs(pipelines): refresh READMEs to match current pipeline architecture
  pipelines/README.md
  pipelines/ado/README.md
  pipelines/legacy/README.md
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

docs(pipelines): refresh READMEs to match current pipeline architecture (#245)
  pipelines/README.md
  pipelines/ado/README.md
  pipelines/legacy/README.md
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

ci(image): waive CVE-2026-48506 (second base-image MessagePack CVE)
  .trivyignore.yaml
Due: .ado/azure-pipelines-pr.yml

ci(image): scope MessagePack CVE waivers to the ExtensionBundle paths
  .trivyignore.yaml
Due: .ado/azure-pipelines-pr.yml

ci(image): waive CVE-2026-48506 (second base-image MessagePack CVE) (#246)
  .trivyignore.yaml
Due: .ado/azure-pipelines-pr.yml
