Repository Abernaughty/PCPC: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Path conditions:
  .ado/azure-pipelines-pr.yml: any file but: docs, README.md, .gitignore
  .ado/azure-pipelines.yml: any of: app, infra, apim, .ado, but not: **/*.md, docs, tests
  pipelines/azure-pipelines.yml: any of: infra, pipelines
  pipelines/legacy/frontend-pipeline.yml: any of: app/frontend, pipelines/frontend-pipeline.yml, pipelines/templates/frontend-*.yml, pipelines/scripts/verify-frontend-deployment.sh

feat(apim): regex-based CORS allowlist (ADR-013) replaces dev=* setting (#135)
  apim/environments/dev/main.tf
  apim/environments/dev/variables.tf
  apim/environments/prod/main.tf
  apim/environments/prod/variables.tf
  apim/environments/staging/main.tf
  apim/environments/staging/variables.tf
  apim/policies/templates/global-policy.xml.tpl
  apim/terraform/main.tf
  apim/terraform/outputs.tf
  apim/terraform/variables.tf
  docs/adr/ADR-011-deployment-topology-and-testing-model.md
  docs/adr/ADR-013-cors-regex-policy.md
  docs/adr/README.md
  pipelines/ado/templates/deploy-apim.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

fix(pipelines): handle legacy URL-format APIM_CORS_ORIGINS gracefully
  pipelines/ado/templates/deploy-apim.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(pipelines): catch legacy URLs in JSON-array APIM_CORS_ORIGINS too
  pipelines/ado/templates/deploy-apim.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(pipelines): handle legacy URL-format APIM_CORS_ORIGINS gracefully (#136)
  pipelines/ado/templates/deploy-apim.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(apim): adopt get-health via import + tighten policy XML for APIM validator
  apim/environments/dev/main.tf
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
  apim/policies/templates/global-policy.xml.tpl
  apim/terraform/apis.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

fix(apim): adopt get-health via import + tighten policy XML for APIM validator (#137)
  apim/environments/dev/main.tf
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
  apim/policies/templates/global-policy.xml.tpl
  apim/terraform/apis.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

refactor(apim): drop explicit get-health resource; let spec import own it
  apim/environments/dev/main.tf
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
  apim/terraform/apis.tf
  apim/terraform/outputs.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

fix(apim): use unqualified Regex.IsMatch + drop explicit get_health resource
  apim/environments/dev/main.tf
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
  apim/policies/templates/global-policy.xml.tpl
  apim/terraform/apis.tf
  apim/terraform/outputs.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

fix(apim): preserve get-health in Azure when removing it from Terraform state
  apim/environments/dev/main.tf
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

fix(apim): use unqualified Regex.IsMatch + drop explicit get_health resource (#138)
  apim/environments/dev/main.tf
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
  apim/policies/templates/global-policy.xml.tpl
  apim/terraform/apis.tf
  apim/terraform/outputs.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

fix(apim): per-alternative regex anchoring to avoid APIM parser orphaning IsMatch(
  apim/policies/templates/global-policy.xml.tpl
  apim/terraform/main.tf
  docs/adr/ADR-013-cors-regex-policy.md
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

docs: mark Phase 0/1A done + Phase 1B mostly-done in PORTFOLIO_PLAN
  docs/PORTFOLIO_PLAN.md
Due: none

chore(apim): stop tracking rendered policy XMLs
  .gitignore
  apim/policies/generated/get_card_info-policy-dev.xml
  apim/policies/generated/get_cards_by_set-policy-dev.xml
  apim/policies/generated/get_sets-policy-dev.xml
  apim/policies/generated/global-policy-dev.xml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

chore(apim): drop &quot; escaping in policy expressions + document Portal validation in ADR-013
  apim/policies/templates/global-policy.xml.tpl
  docs/adr/ADR-013-cors-regex-policy.md
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

ci(pipelines): make GetSetList smoke check non-blocking pending Scrydex migration
  pipelines/ado/templates/deploy-functions.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

chore(apim,ci): policy expression cleanup + non-blocking GetSetList smoke pending Phase 2 (#143)
  apim/policies/templates/global-policy.xml.tpl
  docs/adr/ADR-013-cors-regex-policy.md
  pipelines/ado/templates/deploy-functions.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

ci(pipelines): also non-block GetSetList in health-check-functions.sh
  pipelines/ado/scripts/health-check-functions.sh
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(ci,backend): switch backend/functions @pcpc/shared dep to file:../shared
  backend/functions/package-lock.json
  backend/functions/package.json
  pnpm-lock.yaml
Due: .ado/azure-pipelines-pr.yml

fix(scrydex): match Path A response contract + honor forceRefresh in GetCardInfo
  backend/functions/src/functions/GetCardInfo/index.ts
  backend/functions/src/functions/GetCardsBySet/index.ts
Due: .ado/azure-pipelines-pr.yml

fix(pipelines): wire Scrydex secrets through CD + drop dead SetMapping trigger
  pipelines/ado/scripts/health-check-functions.sh
  pipelines/ado/templates/deploy-functions.yml
  pipelines/ado/templates/deploy-infra.yml
  pipelines/ado/templates/seed-key-vault.yml
  pipelines/scripts/trigger-set-mapping-sync.sh
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

chore: gitignore working-tree noise + untrack generated test reports
  .gitignore
  package-lock.json
  tests/reports/junit.xml
  tests/reports/playwright-junit.xml
  tests/reports/playwright-results.json
Due: .ado/azure-pipelines-pr.yml

docs(phase-2.2): ADR-009 + 3-column architecture comparison
  README.md
  docs/PORTFOLIO_PLAN.md
  docs/adr/ADR-009-functions-consumption-vs-container-apps.md
  docs/adr/README.md
  docs/architecture-comparison.md
Due: none

docs(phase-2.2): clarify CORS handling for Path C (ACA ingress, not Functions code)
  docs/adr/ADR-009-functions-consumption-vs-container-apps.md
  docs/architecture-comparison.md
Due: none

chore(infra): terraform fmt envs/{dev,prod,staging}/variables.tf
  infra/envs/dev/variables.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

chore(infra): terraform fmt envs/{dev,prod,staging}/variables.tf (#149)
  infra/envs/dev/variables.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml
