Repository Abernaughty/PCPC: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

.ado/azure-pipelines-pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ValidateFrontend
    displayName: Validate Frontend
    jobs:
    - template: templates/validate-frontend.yml
  - stage: ValidateBackend
    displayName: Validate Backend
    jobs:
    - template: templates/validate-backend.yml
      parameters:
  ...

.ado/azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build Unified Artifact
    jobs:
    - template: templates/build.yml
      parameters:
        buildConfiguration: $(buildConfiguration)
        nodeVersion: $(nodeVersion)
  - stage: Deploy_Dev
    displayName: Deploy to Dev
    dependsOn: Build
    condition: succeeded()
  ...

pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - template: templates/terraform-validate.yml
  - stage: Plan
    displayName: Terraform Plan - Dev
    dependsOn: Validate
    condition: succeeded()
    jobs:
    - template: templates/terraform-plan.yml
  ...

pipelines/legacy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build & Test Frontend
    jobs:
    - template: templates/frontend-build.yml
      parameters:
        nodeVersion: $(nodeVersion)
        workingDirectory: $(workingDirectory)
  - stage: Deploy
    displayName: Deploy to Static Web App
  ...

chore(infra): terraform fmt envs/{dev,prod,staging}/variables.tf (#149)
  infra/envs/dev/variables.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

docs(phase-2.2): ADR-009 + 3-column architecture comparison (#148)
  README.md
  docs/PORTFOLIO_PLAN.md
  docs/adr/ADR-009-functions-consumption-vs-container-apps.md
  docs/adr/README.md
  docs/architecture-comparison.md
Due: none

feat(phase-2.2): containerize Functions + ACA infrastructure (dev only)
  .gitignore
  backend/.dockerignore
  backend/functions/Dockerfile
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/variables.tf
  infra/modules/container-app/README.md
  infra/modules/container-app/main.tf
  infra/modules/container-app/outputs.tf
  infra/modules/container-app/variables.tf
  infra/modules/container-app/versions.tf
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/templates/build-and-push-image.yml
  pipelines/ado/templates/deploy-aca.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

feat(phase-2.2): containerize Functions + ACA infrastructure (dev only) (#150)
  .gitignore
  backend/.dockerignore
  backend/functions/Dockerfile
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/variables.tf
  infra/modules/container-app/README.md
  infra/modules/container-app/main.tf
  infra/modules/container-app/outputs.tf
  infra/modules/container-app/variables.tf
  infra/modules/container-app/versions.tf
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/templates/build-and-push-image.yml
  pipelines/ado/templates/deploy-aca.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

feat(phase-2.2): wire frontend toggle for Path C (ACA)
  README.md
  docs/PORTFOLIO_PLAN.md
  frontend/src/lib/backends/index.ts
  frontend/src/lib/backends/path-c-aca.ts
  frontend/src/lib/backends/store.svelte.ts
  frontend/src/lib/backends/types.ts
Due: .ado/azure-pipelines-pr.yml

fix(phase-2.2): use ACR name (not FQDN) for shared_acr_name
  docs/adr/ADR-009-functions-consumption-vs-container-apps.md
  infra/envs/dev/variables.tf
  infra/modules/container-app/README.md
  infra/modules/container-app/variables.tf
  pipelines/ado/templates/build-and-push-image.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

fix(phase-2.2): use ACR name (not FQDN) for shared_acr_name (#151)
  docs/adr/ADR-009-functions-consumption-vs-container-apps.md
  infra/envs/dev/variables.tf
  infra/modules/container-app/README.md
  infra/modules/container-app/variables.tf
  pipelines/ado/templates/build-and-push-image.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

feat(phase-2.2): wire frontend toggle for Path C (ACA) (#152)
  README.md
  docs/PORTFOLIO_PLAN.md
  frontend/src/lib/backends/index.ts
  frontend/src/lib/backends/path-c-aca.ts
  frontend/src/lib/backends/store.svelte.ts
  frontend/src/lib/backends/types.ts
Due: .ado/azure-pipelines-pr.yml

feat(phase-2.2): provision PCPC-owned ACR for application images
  docs/PORTFOLIO_PLAN.md
  docs/adr/ADR-009-functions-consumption-vs-container-apps.md
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/variables.tf
  infra/modules/container-app/README.md
  infra/modules/container-app/variables.tf
  infra/modules/container-registry/README.md
  infra/modules/container-registry/main.tf
  infra/modules/container-registry/outputs.tf
  infra/modules/container-registry/variables.tf
  infra/modules/container-registry/versions.tf
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/templates/build-and-push-image.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

feat(phase-2.2): provision PCPC-owned ACR for application images (#153)
  docs/PORTFOLIO_PLAN.md
  docs/adr/ADR-009-functions-consumption-vs-container-apps.md
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/variables.tf
  infra/modules/container-app/README.md
  infra/modules/container-app/variables.tf
  infra/modules/container-registry/README.md
  infra/modules/container-registry/main.tf
  infra/modules/container-registry/outputs.tf
  infra/modules/container-registry/variables.tf
  infra/modules/container-registry/versions.tf
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/templates/build-and-push-image.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

fix(phase-2.2): use absolute build context paths for docker build step
  pipelines/ado/templates/build-and-push-image.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(phase-2.2): use absolute build context paths for docker build step (#154)
  pipelines/ado/templates/build-and-push-image.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(phase-2.2): drop explicit `checkout: self` from inlined templates
  pipelines/ado/templates/build-and-push-image.yml
  pipelines/ado/templates/deploy-aca.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(phase-2.2): drop explicit `checkout: self` from inlined templates (#155)
  pipelines/ado/templates/build-and-push-image.yml
  pipelines/ado/templates/deploy-aca.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(phase-2.2): run Trivy via official Docker image, not install.sh
  pipelines/ado/templates/build-and-push-image.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(phase-2.2): run Trivy via official Docker image, not install.sh (#156)
  pipelines/ado/templates/build-and-push-image.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(phase-2.2): bump OpenTelemetry + protobufjs transitives to clear HIGH CVEs
  backend/functions/package-lock.json
  backend/functions/package.json
Due: .ado/azure-pipelines-pr.yml

fix(phase-2.2): mirror CVE overrides to root pnpm workspace (codex review)
  package.json
  pnpm-lock.yaml
Due: .ado/azure-pipelines-pr.yml

fix(phase-2.2): clear 6 HIGH CVEs from OTel + protobufjs transitives (#157)
  backend/functions/package-lock.json
  backend/functions/package.json
  package.json
  pnpm-lock.yaml
Due: .ado/azure-pipelines-pr.yml

fix(phase-2.2): smoke test passes on ACA's anonymous ingress
  pipelines/ado/scripts/health-check-functions.sh
  pipelines/ado/templates/deploy-aca.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

feat(phase-2.2): move auth to gateway layer (authLevel: anonymous on read endpoints)
  backend/functions/src/index.ts
Due: .ado/azure-pipelines-pr.yml

fix(phase-2.2): ignore client-supplied forceRefresh on public read endpoints
  backend/functions/src/functions/GetCardInfo/index.ts
  backend/functions/src/functions/GetCardsBySet/index.ts
  backend/functions/src/functions/GetSetList/index.ts
Due: .ado/azure-pipelines-pr.yml

fix(phase-2.2): smoke test passes on ACA's anonymous ingress (#158)
  pipelines/ado/scripts/health-check-functions.sh
  pipelines/ado/templates/deploy-aca.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

feat(phase-2.2): move auth to gateway layer (authLevel: anonymous on read endpoints) (#159)
  backend/functions/src/functions/GetCardInfo/index.ts
  backend/functions/src/functions/GetCardsBySet/index.ts
  backend/functions/src/functions/GetSetList/index.ts
  backend/functions/src/index.ts
Due: .ado/azure-pipelines-pr.yml

fix(phase-2.2): BackendToggle popover swallows option clicks
  frontend/src/lib/components/BackendToggle.svelte
Due: .ado/azure-pipelines-pr.yml

fix(phase-2.2): BackendToggle popover swallows option clicks (#160)
  frontend/src/lib/components/BackendToggle.svelte
Due: .ado/azure-pipelines-pr.yml

fix(phase-2.2): add OPTIONS operations so APIM routes CORS preflight to inbound policy
  apim/specs/pcpc-api-v1.yaml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Path conditions:
  .ado/azure-pipelines-pr.yml: any file but: docs, README.md, .gitignore
  .ado/azure-pipelines.yml: any of: app, infra, apim, .ado, but not: **/*.md, docs, tests
  pipelines/azure-pipelines.yml: any of: infra, pipelines
  pipelines/legacy/frontend-pipeline.yml: any of: app/frontend, pipelines/frontend-pipeline.yml, pipelines/templates/frontend-*.yml, pipelines/scripts/verify-frontend-deployment.sh
