Repository Abernaughty/PCPC: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

.ado/azure-pipelines-pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ValidateFrontend
    displayName: Validate Frontend
    jobs:
    - template: templates/validate-frontend.yml
      parameters:
        nodeVersion: $(nodeVersion)
  - stage: ValidateBackend
    displayName: Validate Backend
    jobs:
  ...

.ado/azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build Unified Artifact
    jobs:
    - template: templates/build.yml
      parameters:
        buildConfiguration: $(buildConfiguration)
        nodeVersion: $(nodeVersion)
  - stage: Deploy_Dev
    displayName: Deploy to Dev
    dependsOn: Build
    condition: succeeded()
  ...

pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - template: templates/terraform-validate.yml
  - stage: Plan
    displayName: Terraform Plan - Dev
    dependsOn: Validate
    condition: succeeded()
    jobs:
    - template: templates/terraform-plan.yml
  ...

pipelines/legacy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build & Test Frontend
    jobs:
    - template: templates/frontend-build.yml
      parameters:
        nodeVersion: $(nodeVersion)
        workingDirectory: $(workingDirectory)
  - stage: Deploy
    displayName: Deploy to Static Web App
  ...

Removed premium product from APIM
  apim/terraform/import-existing-resources.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fixed default for USE_API_MANAGEMENT from false to true
  app/frontend/src/config/environment.js
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Fixed APIM API path
  apim/terraform/apis.tf
  infra/modules/api-management/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fix: APIM products
  apim/environments/dev/main.tf
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
  apim/terraform/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Troubleshooting APIM products
  apim/environments/dev/main.tf
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
  apim/terraform/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fixed frontend APIM base url reference
  app/frontend/.env.example
  app/frontend/src/config/environment.js
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Consolidated APIM policy templates.
  apim/policies/generated/cache-sets-policy-dev.xml
  apim/policies/generated/get_card_info-policy-dev.xml
  apim/policies/generated/get_cards_by_set-policy-dev.xml
  apim/policies/generated/get_sets-policy-dev.xml
  apim/policies/templates/cache-sets-response.xml.tpl
  apim/terraform/main.tf
  apim/terraform/outputs.tf
  apim/terraform/policies.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Consolidated the APIM operation-policy resources so each operation is now managed through a single for_each map
  apim/terraform/policies.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Provisioned CosmosDB database and containers in terraform/pipeline
  apim/specs/pcpc-api-v1.yaml
  infra/modules/cosmos-db/README.md
  infra/modules/cosmos-db/examples/basic/main.tf
  infra/modules/cosmos-db/main.tf
  infra/modules/cosmos-db/outputs.tf
  infra/modules/cosmos-db/variables.tf
  pipelines/scripts/validate-deployment.sh
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Swapped the invalid dynamic throughput blocks for the provider-supported attributes
  infra/modules/cosmos-db/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Reinstated provider-required attributes on Cosmos SQL containers
  infra/modules/cosmos-db/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Added dynamic set mapping function
  apim/specs/pcpc-api-v1.yaml
  apim/terraform/apis.tf
  app/backend/host.json
  app/backend/local.settings.json.example
  app/backend/src/functions/GetCardInfo/index.ts
  app/backend/src/functions/SynchronizeSetMappings/index.ts
  app/backend/src/index.ts
  app/backend/src/models/SetMapping.ts
  app/backend/src/services/ImageEnhancementService.ts
  app/backend/src/services/ImageUrlUpdateService.ts
  app/backend/src/services/PokeDataApiService.ts
  app/backend/src/services/PokeDataToTcgMappingService.ts
  app/backend/src/services/SetMappingOrchestrator.ts
  app/backend/src/services/SetMappingRepository.ts
  app/backend/src/services/SetMatchingEngine.ts
  app/frontend/.env.example
  docs/deployment-guide.md
  infra/modules/cosmos-db/main.tf
  infra/modules/cosmos-db/outputs.tf
  infra/modules/cosmos-db/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Added a guard in SetMappingOrchestrator.processSet so entries already marked matchType === manual are left untouched
  app/backend/src/services/SetMappingOrchestrator.ts
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Dropped host timeout back under 10-minute ceiling
  app/backend/host.json
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

gitignore
  .gitignore
Due: none

Fixed tcgSetId regerssion
  app/backend/src/services/SetMappingOrchestrator.ts
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fix: Cosmos lookup
  app/backend/src/services/CosmosDbService.ts
  app/frontend/src/config/environment.js
  app/frontend/src/services/cloudDataService.js
  app/frontend/src/services/hybridDataService.js
  app/frontend/src/services/pokeDataService.js
  app/frontend/src/stores/priceStore.js
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Fixed conflict
  app/frontend/src/config/environment.js
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Fix conflict
  app/frontend/src/config/environment.js
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Added CLI fetch step to get APIM base url
  .ado/azure-pipelines.yml
  .ado/templates/build.yml
  app/frontend/rollup.config.cjs
  app/frontend/src/config/environment.js
  app/frontend/src/index.html
  app/frontend/static/env.template.js
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Added cache busting to runtime env script
  app/frontend/src/index.html
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Path conditions:
  .ado/azure-pipelines-pr.yml: any file but: docs, README.md, .gitignore
  .ado/azure-pipelines.yml: any of: app, infra, apim, .ado, but not: **/*.md, docs, tests
  pipelines/azure-pipelines.yml: any of: infra, pipelines
  pipelines/legacy/frontend-pipeline.yml: any of: app/frontend, pipelines/frontend-pipeline.yml, pipelines/templates/frontend-*.yml, pipelines/scripts/verify-frontend-deployment.sh
