Repository Abernaughty/PCPC: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

.ado/azure-pipelines-pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ValidateFrontend
    displayName: Validate Frontend
    jobs:
    - template: templates/validate-frontend.yml
      parameters:
        nodeVersion: $(nodeVersion)
  - stage: ValidateBackend
    displayName: Validate Backend
    jobs:
  ...

.ado/azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build Unified Artifact
    jobs:
    - template: templates/build.yml
      parameters:
        buildConfiguration: $(buildConfiguration)
        nodeVersion: $(nodeVersion)
  - stage: Deploy_Dev
    displayName: Deploy to Dev
    dependsOn: Build
    condition: succeeded()
  ...

pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - template: templates/terraform-validate.yml
  - stage: Plan
    displayName: Terraform Plan - Dev
    dependsOn: Validate
    condition: succeeded()
    jobs:
    - template: templates/terraform-plan.yml
  ...

pipelines/legacy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build & Test Frontend
    jobs:
    - template: templates/frontend-build.yml
      parameters:
        nodeVersion: $(nodeVersion)
        workingDirectory: $(workingDirectory)
  - stage: Deploy
    displayName: Deploy to Static Web App
  ...

Added hidden-link: /app-insights-resource-id tag to terraform
  infra/modules/function-app/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Changing porkbun provider from cullenmcdermott/porkbun to marcfrederick/porkbun
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fix: secret_key to secret_api_key in porkbun provider
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Updated porkbun provider identifiers
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Updated porkbun dns record resource with correct attributes
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Stopped writing policy xml to disk to resolve terraform drift
  apim/docs/README.md
  apim/environments/dev/main.tf
  apim/terraform/main.tf
  apim/terraform/outputs.tf
  apim/terraform/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Subscriptions_limit = 0 for starter products
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
  apim/terraform/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Documentation updates
  .ado/README.md
  README.md
  docs/README.md
  docs/architecture.md
  docs/deployment-guide.md
  docs/development-guide.md
  docs/pcpc-documentation-review-plan.md
  docs/security.md
Due: .ado/azure-pipelines-pr.yml

Make devcontainer scripts executable
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/setup.sh
  .devcontainer/startup.sh
Due: .ado/azure-pipelines-pr.yml

Call startup and setup scripts via bash interpreter
  .devcontainer/devcontainer.json
Due: .ado/azure-pipelines-pr.yml

Hardened TCG set fetch with exponential backoff retries, structured failure logging, and strict response validation so upstream hiccups surface instead of returning empty data
  .devcontainer/.bashrc
  .devcontainer/.devcontainer/azure-config/az.json
  .devcontainer/.devcontainer/azure-config/az.sess
  .devcontainer/.devcontainer/azure-config/az_survey.json
  .devcontainer/.devcontainer/azure-config/azureProfile.json
  .devcontainer/.devcontainer/azure-config/clouds.config
  .devcontainer/.devcontainer/azure-config/commandIndex.json
  .devcontainer/.devcontainer/azure-config/config
  .devcontainer/.devcontainer/azure-config/msal_http_cache.bin
  .devcontainer/.devcontainer/azure-config/telemetry/20251029183818480/cache
  .devcontainer/.devcontainer/azure-config/telemetry/20251029193110453/cache
  .devcontainer/.devcontainer/azure-config/versionCheck.json
  .devcontainer/azure-config/.gitkeep
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/dockerfile
  .devcontainer/setup.sh
  .devcontainer/startup.sh
  app/backend/package.json
  app/backend/src/services/PokemonTcgApiService.ts
  app/backend/src/services/SetMappingOrchestrator.ts
  app/backend/test/pokemonTcgApiService.test.ts
  app/backend/test/setMappingOrchestrator.test.ts
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Hardened TCG set fetch with exponential backoff retries, structured failure logging, and strict response validation so upstream hiccups surface instead of returning empty data
  .gitignore
Due: none

Remove Azure CLI cache directory from repository
  .devcontainer/.devcontainer/azure-config/az.json
  .devcontainer/.devcontainer/azure-config/az.sess
  .devcontainer/.devcontainer/azure-config/az_survey.json
  .devcontainer/.devcontainer/azure-config/azureProfile.json
  .devcontainer/.devcontainer/azure-config/clouds.config
  .devcontainer/.devcontainer/azure-config/commandIndex.json
  .devcontainer/.devcontainer/azure-config/config
  .devcontainer/.devcontainer/azure-config/msal_http_cache.bin
  .devcontainer/.devcontainer/azure-config/telemetry/20251029183818480/cache
  .devcontainer/.devcontainer/azure-config/telemetry/20251029193110453/cache
  .devcontainer/.devcontainer/azure-config/versionCheck.json
Due: .ado/azure-pipelines-pr.yml

Updated the devcontainer volume so /home/vscode/.azure now binds from ./azure-config, avoiding the extra .devcontainer nesting that broke permissions
  .devcontainer/docker-compose.yml
  .gitignore
Due: .ado/azure-pipelines-pr.yml

Added mounts to devcontainer.json
  .devcontainer/devcontainer.json
Due: .ado/azure-pipelines-pr.yml

CI: Add ACR-hosted build images and digest-publishing pipeline
  .ado/azure-pipelines-ci-images.yml
  .ado/templates/build-ci-images.yml
  .ado/variables/ci-images.yml
  .ci/README.md
  .ci/images/node22/Dockerfile
  .ci/images/node22/README.md
  .ci/images/terraform/Dockerfile
  .ci/images/terraform/README.md
  .ci/versions.yaml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Install checkov into dedicated venv
  .ci/images/node22/Dockerfile
  .ci/images/terraform/Dockerfile
Due: .ado/azure-pipelines-pr.yml

Fixed directory reference for build-ci-images.yml
  .ado/azure-pipelines-pr.yml
  .ado/templates/validate-frontend.yml
  .ci/images/node22/Dockerfile
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fixed directory reference for build-ci-images.yml
  .ado/azure-pipelines-ci-images.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Moved container resource definition to pipeline root
  .ado/azure-pipelines-pr.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Created node-azure image
  .ado/CONTAINERIZATION-SUMMARY.md
  .ado/azure-pipelines-pr.yml
  .ado/azure-pipelines.yml
  .ado/templates/build-ci-images.yml
  .ado/templates/build.yml
  .ado/templates/deploy-infra.yml
  .ado/templates/validate-backend.yml
  .ado/templates/validate-frontend.yml
  .ado/templates/validate-infrastructure.yml
  .ado/variables/ci-images.yml
  .ci/images/node-azure/Dockerfile
  .ci/images/node22/Dockerfile
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Path conditions:
  .ado/azure-pipelines-pr.yml: any file but: docs, README.md, .gitignore
  .ado/azure-pipelines.yml: any of: app, infra, apim, .ado, but not: **/*.md, docs, tests
  pipelines/azure-pipelines.yml: any of: infra, pipelines
  pipelines/legacy/frontend-pipeline.yml: any of: app/frontend, pipelines/frontend-pipeline.yml, pipelines/templates/frontend-*.yml, pipelines/scripts/verify-frontend-deployment.sh
