Repository Abernaughty/PCPC: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Path conditions:
  .ado/azure-pipelines-pr.yml: any file but: docs, README.md, .gitignore
  .ado/azure-pipelines.yml: any of: app, infra, apim, .ado, but not: **/*.md, docs, tests
  pipelines/azure-pipelines.yml: any of: infra, pipelines
  pipelines/legacy/frontend-pipeline.yml: any of: app/frontend, pipelines/frontend-pipeline.yml, pipelines/templates/frontend-*.yml, pipelines/scripts/verify-frontend-deployment.sh

docs(frontend): add quickstart README — also unblocks Vercel build
  frontend/README.md
Due: .ado/azure-pipelines-pr.yml

fix(ado): update CD pipeline trigger paths after Phase 0 path moves
  pipelines/ado/azure-pipelines.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

fix(ado): stage SWA artifact under sources so the deploy task can find it
  pipelines/ado/templates/deploy-swa.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

chore(ci): strip Static Web App stage + frontend-build artifact path
  .devcontainer/setup.sh
  docs/PORTFOLIO_PLAN.md
  jest.config.cjs
  pipelines/README.md
  pipelines/ado/README.md
  pipelines/ado/azure-pipelines-pr.yml
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/scripts/health-check-swa.sh
  pipelines/ado/templates/build.yml
  pipelines/ado/templates/deploy-swa.yml
  pipelines/ado/templates/smoke-tests.yml
  pipelines/ado/templates/validate-frontend.yml
  pipelines/scripts/generate-env-config.sh
  pipelines/scripts/verify-frontend-deployment.sh
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

chore(tests): retarget root test entry points after SPA removal (Codex P2)
  package.json
  tests/config/playwright.config.ts
  tests/e2e/example.spec.ts
  tests/e2e/frontend.spec.ts
Due: .ado/azure-pipelines-pr.yml

feat(frontend): add backend abstraction layer for Phase 1 toggle
  frontend/src/lib/backends/adapters/pokedata-to-scrydex.ts
  frontend/src/lib/backends/health.ts
  frontend/src/lib/backends/index.ts
  frontend/src/lib/backends/path-a-vercel.ts
  frontend/src/lib/backends/path-b-azure.ts
  frontend/src/lib/backends/store.svelte.ts
  frontend/src/lib/backends/types.ts
Due: .ado/azure-pipelines-pr.yml

refactor(frontend): route api.ts through the backend abstraction
  frontend/src/lib/services/api.ts
Due: .ado/azure-pipelines-pr.yml

feat(frontend): add BackendToggle corner badge with healthcheck UX
  frontend/src/lib/components/BackendToggle.svelte
  frontend/src/lib/components/index.ts
  frontend/src/routes/+layout.svelte
Due: .ado/azure-pipelines-pr.yml

docs(adr): add ADR-007 and ADR-008 for the three-path architecture
  docs/adr/ADR-007-api-architecture-spectrum.md
  docs/adr/ADR-008-apim-vs-bff-gateway.md
  docs/adr/README.md
Due: none

docs: add architecture-comparison.md (Path A vs Path B; Path C in Phase 2)
  docs/architecture-comparison.md
Due: none

docs(readme): rewrite Live Demo for the Phase 1 toggle
  README.md
Due: none

Phase 1A — backend abstraction, BackendToggle UI, ADR-007/008, comparison doc (#131)
  README.md
  docs/adr/ADR-007-api-architecture-spectrum.md
  docs/adr/ADR-008-apim-vs-bff-gateway.md
  docs/adr/README.md
  docs/architecture-comparison.md
  frontend/src/lib/backends/adapters/pokedata-to-scrydex.ts
  frontend/src/lib/backends/health.ts
  frontend/src/lib/backends/index.ts
  frontend/src/lib/backends/path-a-vercel.ts
  frontend/src/lib/backends/path-b-azure.ts
  frontend/src/lib/backends/store.svelte.ts
  frontend/src/lib/backends/types.ts
  frontend/src/lib/components/BackendToggle.svelte
  frontend/src/lib/components/index.ts
  frontend/src/lib/services/api.ts
  frontend/src/routes/+layout.svelte
Due: .ado/azure-pipelines-pr.yml

fix(frontend): adapter reads Path B card list from data.items
  frontend/src/lib/backends/adapters/pokedata-to-scrydex.ts
Due: .ado/azure-pipelines-pr.yml

fix(frontend): BackendToggle popover stays open during option clicks
  frontend/src/lib/components/BackendToggle.svelte
Due: .ado/azure-pipelines-pr.yml

feat(infra): add gateway_hostnames support to api-management module
  infra/modules/api-management/main.tf
  infra/modules/api-management/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

feat(infra): bind per-env APIM custom hostnames
  infra/envs/dev/main.tf
  infra/envs/dev/variables.tf
  infra/envs/prod/main.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/main.tf
  infra/envs/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

feat(apim): retarget CORS at pcpc.maber.io and allow * for dev previews
  apim/environments/dev/main.tf
  apim/environments/prod/main.tf
  apim/environments/staging/main.tf
  apim/terraform/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

feat(apim): expose /health through APIM for backend toggle probes
  apim/specs/pcpc-api-v1.yaml
  apim/terraform/apis.tf
  apim/terraform/outputs.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

docs(adr): add ADR-011 documenting the deployment topology decision
  docs/adr/ADR-011-deployment-topology-and-testing-model.md
  docs/adr/README.md
Due: none

fix(infra): remove computed certificate_source from APIM hostname proxy
  infra/modules/api-management/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

fix(infra): remove computed certificate_source from APIM hostname proxy (#133)
  infra/modules/api-management/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

fix(infra): defer APIM custom hostnames during managed-cert suspension
  docs/adr/ADR-012-apim-managed-cert-suspension.md
  docs/adr/README.md
  infra/envs/dev/variables.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/variables.tf
  infra/modules/api-management/main.tf
  infra/modules/api-management/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

fix(infra): defer APIM custom hostnames during managed-cert suspension (#134)
  docs/adr/ADR-012-apim-managed-cert-suspension.md
  docs/adr/README.md
  infra/envs/dev/variables.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/variables.tf
  infra/modules/api-management/main.tf
  infra/modules/api-management/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

docs(adr): include /pcpc-api/v1 path in PUBLIC_AZURE_API_BASE_URL examples
  docs/adr/ADR-011-deployment-topology-and-testing-model.md
  docs/adr/ADR-012-apim-managed-cert-suspension.md
Due: none

feat(apim): regex-based CORS allowlist (ADR-013) replaces dev=* setting
  apim/environments/dev/main.tf
  apim/environments/dev/variables.tf
  apim/environments/prod/main.tf
  apim/environments/prod/variables.tf
  apim/environments/staging/main.tf
  apim/environments/staging/variables.tf
  apim/policies/templates/global-policy.xml.tpl
  apim/terraform/main.tf
  apim/terraform/outputs.tf
  apim/terraform/variables.tf
  docs/adr/ADR-011-deployment-topology-and-testing-model.md
  docs/adr/ADR-013-cors-regex-policy.md
  docs/adr/README.md
  pipelines/ado/templates/deploy-apim.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml
