Repository Abernaughty/PCPC: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

.ado/azure-pipelines-pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ValidateFrontend
    displayName: Validate Frontend
    jobs:
    - template: templates/validate-frontend.yml
      parameters:
        nodeVersion: $(nodeVersion)
  - stage: ValidateBackend
    displayName: Validate Backend
    jobs:
  ...

.ado/azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build Unified Artifact
    jobs:
    - template: templates/build.yml
      parameters:
        buildConfiguration: $(buildConfiguration)
        nodeVersion: $(nodeVersion)
  - stage: Deploy_Dev
    displayName: Deploy to Dev
    dependsOn: Build
    condition: succeeded()
  ...

pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - template: templates/terraform-validate.yml
  - stage: Plan
    displayName: Terraform Plan - Dev
    dependsOn: Validate
    condition: succeeded()
    jobs:
    - template: templates/terraform-plan.yml
  ...

pipelines/legacy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build & Test Frontend
    jobs:
    - template: templates/frontend-build.yml
      parameters:
        nodeVersion: $(nodeVersion)
        workingDirectory: $(workingDirectory)
  - stage: Deploy
    displayName: Deploy to Static Web App
  ...

Secret deployment method using temporary tfvars
  .ado/templates/deploy-infra.yml
  .gitignore
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Troubleshooting passing function app secrets
  .ado/APIM_VARIABLES_GUIDE.md
  .ado/FUNCTION_APP_SECRETS_FIX.md
  .ado/azure-pipelines.yml
  .ado/templates/deploy-apim.yml
  .ado/templates/deploy-infra.yml
  infra/envs/dev/main.tf
  infra/envs/dev/variables.tf
  infra/envs/prod/main.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/main.tf
  infra/envs/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fix secrets deployment: Remove here-doc single quotes and add comprehensive diagnostics
  .ado/templates/deploy-infra.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Add debug outputs for Function App settings troubleshooting
  infra/envs/dev/outputs.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

terraform fmt
  infra/envs/dev/outputs.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Secrets
  infra/envs/dev/outputs.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Testing secret vg without kv connection
  .ado/FUNCTION_APP_SECRETS_FIX.md
  .ado/templates/deploy-infra.yml
  infra/envs/dev/variables.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/variables.tf
  memory-bank/activeContext.md
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Testing secret vg without kv connection
  .ado/FUNCTION_APP_SECRETS_FIX.md
  .ado/templates/deploy-infra.yml
  infra/envs/dev/variables.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Added env mapping as ADO secrets are not automatically expanded in bash scripts
  .ado/APIM_VARIABLES_GUIDE.md
  .ado/PIPELINE_SETUP_GUIDE.md
  .ado/SETUP_GUIDE.md
  .ado/TEST.md
  .ado/templates/deploy-infra.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

terraform fmt
  infra/envs/dev/variables.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

imported CosmosDB/APIM/App Insights to state
  infra/envs/dev/import-existing-resources.sh
  infra/envs/dev/tfplan
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Import additional resources
  .ado/templates/validate-apim.yml
  apim/specs/pcpc-api-v1.yaml
  apim/terraform/main.tf
  memory-bank/activeContext.md
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Import additional resources
  .ado/templates/validate-apim.yml
  apim/specs/pcpc-api-v1.yaml
  apim/terraform/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fixed state drift causing terraform apply to fail
  infra/envs/dev/MIGRATION_GUIDE.md
  infra/envs/dev/QUICK_START.md
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

Fixed Authorization header on PokeData API smoke test
  app/backend/src/functions/HealthCheck/index.ts
  infra/envs/dev/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Fixed APIM terraform for policies and cors config
  .ado/azure-pipelines.yml
  .ado/templates/validate-apim.yml
  apim/policies/templates/azure-functions-backend.xml.tpl
  apim/policies/templates/cache-sets-response.xml.tpl
  apim/policies/templates/global-policy.xml.tpl
  apim/terraform/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fix: terraform tag churn
  infra/modules/application-insights/main.tf
  infra/modules/function-app/main.tf
  infra/modules/log-analytics/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

Update APIM policies to use rendered locals
  apim/terraform/policies.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fix: APIM deploy template CORS configuration
  .ado/templates/deploy-apim.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fixed indentation in deploy-apim.yml
  .ado/templates/deploy-apim.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fix heredoc terminator indentation in APIM deploy template
  .ado/templates/deploy-apim.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Fixed APIM state storage
  .ado/templates/deploy-apim.yml
  apim/terraform/main.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Default optional APIM pipeline variables
  .ado/templates/deploy-apim.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

Path conditions:
  .ado/azure-pipelines-pr.yml: any file but: docs, README.md, .gitignore
  .ado/azure-pipelines.yml: any of: app, infra, apim, .ado, but not: **/*.md, docs, tests
  pipelines/azure-pipelines.yml: any of: infra, pipelines
  pipelines/legacy/frontend-pipeline.yml: any of: app/frontend, pipelines/frontend-pipeline.yml, pipelines/templates/frontend-*.yml, pipelines/scripts/verify-frontend-deployment.sh
