Repository Abernaughty/PCPC: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

Path conditions:
  .ado/azure-pipelines-pr.yml: any file but: docs, README.md, .gitignore
  .ado/azure-pipelines.yml: any of: app, infra, apim, .ado, but not: **/*.md, docs, tests
  pipelines/azure-pipelines.yml: any of: infra, pipelines
  pipelines/legacy/frontend-pipeline.yml: any of: app/frontend, pipelines/frontend-pipeline.yml, pipelines/templates/frontend-*.yml, pipelines/scripts/verify-frontend-deployment.sh

chore(deps): remove dead Svelte test infra from root (closes #173 path)
  package.json
  pnpm-lock.yaml
  svelte.config.js
  tests/config/jest.config.cjs
  tests/config/test-setup-backend.js
  tests/config/test-setup.js
Due: .ado/azure-pipelines-pr.yml

chore(deps): remove dead Svelte test infra from root (closes #173 path) (#176)
  package.json
  pnpm-lock.yaml
  svelte.config.js
  tests/config/jest.config.cjs
  tests/config/test-setup-backend.js
  tests/config/test-setup.js
Due: .ado/azure-pipelines-pr.yml

Configure Dependabot for multiple package ecosystems
  .github/dependabot.yml
Due: .ado/azure-pipelines-pr.yml

chore(deps): remove stale svelte ignore from root Dependabot block
  .github/dependabot.yml
Due: .ado/azure-pipelines-pr.yml

Configure Dependabot for multiple package ecosystems (#177)
  .github/dependabot.yml
Due: .ado/azure-pipelines-pr.yml

fix(dependabot): drop root npm block to stop duplicate workspace PRs
  .github/dependabot.yml
Due: .ado/azure-pipelines-pr.yml

fix(dependabot): drop root npm block to stop duplicate workspace PRs (#193)
  .github/dependabot.yml
Due: .ado/azure-pipelines-pr.yml

fix(dependabot): restore root pnpm block; correct workspace-aware config
  .github/dependabot.yml
Due: .ado/azure-pipelines-pr.yml

fix(workspace): drop backend/functions from pnpm workspace
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: .ado/azure-pipelines-pr.yml

fix(dependabot): restore root pnpm block; correct workspace-aware config (#194)
  .github/dependabot.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: .ado/azure-pipelines-pr.yml

docs: replace incorrect HashiCorp BUSL license with MIT
  LICENSE
  LICENSE.txt
  README.md
Due: .ado/azure-pipelines-pr.yml

chore: remove unused BlobStorageService_old
  app/backend/src/services/BlobStorageService_old.ts
  docs/development-guide.md
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

test: rename example.spec.ts to describe its contents
  tests/e2e/smoke.spec.ts
Due: .ado/azure-pipelines-pr.yml

docs: remove hardcoded test-status badge
  README.md
Due: none

docs: remove marketing hype and fictional team references
  .ado/README.md
  .devcontainer/README.md
  .devcontainer/docs/phase-3-6-completion-summary.md
  db/README.md
  docs/README.md
  docs/architecture.md
  docs/deployment-guide.md
  docs/development-guide.md
  docs/runbooks/README.md
  docs/security.md
  docs/troubleshooting.md
  pipelines/README.md
  tests/README.md
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

chore: fix root package.json metadata
  package-lock.json
  package.json
Due: .ado/azure-pipelines-pr.yml

refactor(infra): move subscription/tenant IDs to variables
  .ado/templates/deploy-apim.yml
  .ado/templates/deploy-infra.yml
  apim/environments/dev/main.tf
  apim/environments/dev/terraform.tfvars.example
  apim/environments/dev/variables.tf
  apim/environments/prod/main.tf
  apim/environments/prod/terraform.tfvars.example
  apim/environments/prod/variables.tf
  apim/environments/staging/main.tf
  apim/environments/staging/terraform.tfvars.example
  apim/environments/staging/variables.tf
  infra/envs/dev/main.tf
  infra/envs/dev/terraform.tfvars.example
  infra/envs/dev/variables.tf
  infra/envs/prod/main.tf
  infra/envs/prod/terraform.tfvars.example
  infra/envs/prod/variables.tf
  infra/envs/staging/main.tf
  infra/envs/staging/terraform.tfvars.example
  infra/envs/staging/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

refactor(backend): route logging through leveled logger, remove debug noise
  app/backend/src/functions/GetCardsBySet/index.ts
  app/backend/src/functions/MonitorCredits/index.ts
  app/backend/src/functions/RefreshData/index.ts
  app/backend/src/index.ts
  app/backend/src/services/BlobStorageService.ts
  app/backend/src/services/CosmosDbService.ts
  app/backend/src/services/CreditMonitoringService.ts
  app/backend/src/services/ImageEnhancementService.ts
  app/backend/src/services/ImageUrlUpdateService.ts
  app/backend/src/services/MonitoringService.ts
  app/backend/src/services/PokeDataApiService.ts
  app/backend/src/services/PokeDataToTcgMappingService.ts
  app/backend/src/services/PokemonTcgApiService.ts
  app/backend/src/services/RedisCacheService.ts
  app/backend/src/services/SetMappingOrchestrator.ts
  app/backend/src/services/SetMappingService.ts
  app/backend/src/services/SetMatchingEngine.ts
  app/backend/src/utils/errorUtils.ts
  app/backend/src/utils/logger.ts
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

refactor(frontend): route remaining console calls through loggerService
  app/frontend/src/components/SearchableInput.svelte
  app/frontend/src/config/runtimeConfig.ts
  app/frontend/src/services/expansionMapper.js
  app/frontend/src/services/monitoringService.js
  app/frontend/src/services/setClassifier.js
  app/frontend/src/utils/webVitals.js
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

refactor(infra): remove remaining hardcoded Azure GUIDs
  .ado/ACR-DATA-PLANE-AUTH-ISSUE.md
  .devcontainer/TEST-ACR-AUTH.md
  apim/terraform/import-existing-resources.sh
  apim/terraform/main.tf
  apim/terraform/terraform.tfvars.example
  apim/terraform/variables.tf
  docs/pcpc-documentation-review-plan.md
  docs/runbooks/README.md
  infra/envs/dev/import-existing-resources.sh
  infra/envs/prod/import-existing-resources.sh
  infra/envs/staging/import-existing-resources.sh
  infra/modules/cosmos-db/examples/basic/main.tf
  infra/modules/cosmos-db/examples/basic/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

docs: replace aspirational docs index, drop phantom runbooks and internal review plan
  docs/README.md
Due: none

chore: stop tracking generated test reports
  .gitignore
  tests/reports/junit.xml
  tests/reports/playwright-junit.xml
  tests/reports/playwright-results.json
Due: .ado/azure-pipelines-pr.yml

docs: replace incorrect BUSL license text with MIT
  LICENSE
  LICENSE.txt
  README.md
Due: .ado/azure-pipelines-pr.yml

chore: remove internal portfolio planning doc
  README.md
  docs/PORTFOLIO_PLAN.md
  docs/adr/ADR-007-api-architecture-spectrum.md
  docs/adr/ADR-008-apim-vs-bff-gateway.md
  docs/adr/ADR-009-functions-consumption-vs-container-apps.md
  docs/adr/ADR-011-deployment-topology-and-testing-model.md
  docs/adr/ADR-012-apim-managed-cert-suspension.md
  docs/adr/ADR-013-cors-regex-policy.md
  docs/adr/README.md
  docs/architecture-comparison.md
  frontend/README.md
  frontend/eslint.config.js
  frontend/src/lib/backends/types.ts
  infra/envs/dev/variables.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/variables.tf
  infra/modules/container-app/README.md
  infra/modules/container-app/variables.tf
  package.json
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

docs: drop phantom runbooks index and internal review plan
  docs/README.md
  docs/pcpc-documentation-review-plan.md
  docs/runbooks/README.md
Due: none

docs: remove marketing hype and fictional team references
  .devcontainer/README.md
  .devcontainer/docs/phase-3-6-completion-summary.md
  db/README.md
  docs/README.md
  docs/architecture.md
  docs/deployment-guide.md
  docs/development-guide.md
  docs/security.md
  docs/troubleshooting.md
  pipelines/README.md
  pipelines/ado/README.md
  tests/README.md
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

chore: complete root package.json metadata
  package.json
Due: .ado/azure-pipelines-pr.yml

refactor(infra): move Azure IDs to variables and placeholders
  .devcontainer/TEST-ACR-AUTH.md
  apim/environments/dev/main.tf
  apim/environments/dev/terraform.tfvars.example
  apim/environments/dev/variables.tf
  apim/environments/prod/main.tf
  apim/environments/prod/terraform.tfvars.example
  apim/environments/prod/variables.tf
  apim/environments/staging/main.tf
  apim/environments/staging/terraform.tfvars.example
  apim/environments/staging/variables.tf
  apim/terraform/import-existing-resources.sh
  apim/terraform/main.tf
  apim/terraform/terraform.tfvars.example
  apim/terraform/variables.tf
  infra/envs/dev/import-existing-resources.sh
  infra/envs/dev/main.tf
  infra/envs/dev/terraform.tfvars.example
  infra/envs/dev/variables.tf
  infra/envs/prod/import-existing-resources.sh
  infra/envs/prod/main.tf
  infra/envs/prod/terraform.tfvars.example
  infra/envs/prod/variables.tf
  infra/envs/staging/import-existing-resources.sh
  infra/envs/staging/main.tf
  infra/envs/staging/terraform.tfvars.example
  infra/envs/staging/variables.tf
  infra/modules/cosmos-db/examples/basic/main.tf
  infra/modules/cosmos-db/examples/basic/variables.tf
  infra/shared/main.tf
  infra/shared/terraform.tfvars.example
  infra/shared/variables.tf
  pipelines/ado/ACR-DATA-PLANE-AUTH-ISSUE.md
  pipelines/ado/templates/deploy-apim.yml
  pipelines/ado/templates/deploy-infra.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

refactor(backend): route logging through leveled logger, remove debug noise
  backend/functions/src/index.ts
  backend/functions/src/services/CosmosDbService.ts
  backend/functions/src/services/MonitoringService.ts
  backend/functions/src/services/RedisCacheService.ts
  backend/functions/src/services/ScrydexApiService.ts
  backend/functions/src/utils/errorUtils.ts
  backend/functions/src/utils/logger.ts
Due: .ado/azure-pipelines-pr.yml

refactor(frontend): route server logging through loggerService
  frontend/src/lib/server/services/cosmosDb.ts
  frontend/src/lib/server/services/monitoring.ts
  frontend/src/lib/server/services/redisCache.ts
  frontend/src/lib/server/services/scrydexApi.ts
  frontend/src/lib/services/logger.ts
  frontend/src/routes/api/health/+server.ts
  frontend/src/routes/api/sets/+server.ts
  frontend/src/routes/api/sets/[set_id]/cards/+server.ts
  frontend/src/routes/api/sets/[set_id]/cards/[card_id]/+server.ts
Due: .ado/azure-pipelines-pr.yml

chore: remove committed AI assistant memory file
  README.md
  frontend/CLAUDE.md
Due: .ado/azure-pipelines-pr.yml

fix(frontend): drop unused url param in card info endpoint
  frontend/src/routes/api/sets/[set_id]/cards/[card_id]/+server.ts
Due: .ado/azure-pipelines-pr.yml

test(frontend): add unit tests for lib utils and services
  frontend/package.json
  frontend/src/lib/backends/health.test.ts
  frontend/src/lib/server/services/scrydexApi.test.ts
  frontend/src/lib/server/utils/cache.test.ts
  frontend/src/lib/server/utils/errors.test.ts
  frontend/src/lib/services/expansionMapper.test.ts
  frontend/src/lib/utils/rarityMap.test.ts
Due: .ado/azure-pipelines-pr.yml

test(frontend): add unit tests for lib utils and services (#221)
  frontend/package.json
  frontend/src/lib/backends/health.test.ts
  frontend/src/lib/server/services/scrydexApi.test.ts
  frontend/src/lib/server/utils/cache.test.ts
  frontend/src/lib/server/utils/errors.test.ts
  frontend/src/lib/services/expansionMapper.test.ts
  frontend/src/lib/utils/rarityMap.test.ts
Due: .ado/azure-pipelines-pr.yml

fix(frontend): make chart column fill width on mobile
  frontend/src/lib/components/CardResultsPanel.svelte
  frontend/src/lib/components/PriceDetailChart.svelte
Due: .ado/azure-pipelines-pr.yml

fix(frontend): make chart column fill width on mobile (#223)
  frontend/src/lib/components/CardResultsPanel.svelte
  frontend/src/lib/components/PriceDetailChart.svelte
Due: .ado/azure-pipelines-pr.yml
