Repository Abernaughty/PCPC: changes, and which Azure pipelines are due for each by the changed paths.
All: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml, pipelines/legacy/frontend-pipeline.yml

.ado/azure-pipelines-pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ValidateFrontend
    displayName: Validate Frontend
    jobs:
    - template: templates/validate-frontend.yml
  - stage: ValidateBackend
    displayName: Validate Backend
    jobs:
    - template: templates/validate-backend.yml
      parameters:
  ...

.ado/azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build Unified Artifact
    jobs:
    - template: templates/build.yml
      parameters:
        buildConfiguration: $(buildConfiguration)
        nodeVersion: $(nodeVersion)
  - stage: Deploy_Dev
    displayName: Deploy to Dev
    dependsOn: Build
    condition: succeeded()
  ...

pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - template: templates/terraform-validate.yml
  - stage: Plan
    displayName: Terraform Plan - Dev
    dependsOn: Validate
    condition: succeeded()
    jobs:
    - template: templates/terraform-plan.yml
  ...

pipelines/legacy/frontend-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build & Test Frontend
    jobs:
    - template: templates/frontend-build.yml
      parameters:
        nodeVersion: $(nodeVersion)
        workingDirectory: $(workingDirectory)
  - stage: Deploy
    displayName: Deploy to Static Web App
  ...

fix(phase-2.2): add OPTIONS operations so APIM routes CORS preflight to inbound policy (#161)
  apim/specs/pcpc-api-v1.yaml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

docs: mark Phase 2.2 fully complete in PORTFOLIO_PLAN.md
  docs/PORTFOLIO_PLAN.md
Due: none

docs: mark Phase 2.2 fully complete in PORTFOLIO_PLAN.md (#162)
  docs/PORTFOLIO_PLAN.md
Due: none

fix: drop+recreate IndexedDB stores on version bump to clear stale legacy schema
  frontend/src/lib/services/db.ts
Due: .ado/azure-pipelines-pr.yml

fix: drop+recreate IndexedDB stores on version bump to clear stale legacy schema (#163)
  frontend/src/lib/services/db.ts
Due: .ado/azure-pipelines-pr.yml

fix: rename cardName→name in Functions response to match OpenAPI spec
  backend/functions/src/functions/GetCardInfo/index.ts
  backend/functions/src/functions/GetCardsBySet/index.ts
  backend/functions/src/utils/cardToApiResponse.ts
Due: .ado/azure-pipelines-pr.yml

fix: also apply cardToApiResponse on GetCardInfo cache-hit early return
  backend/functions/src/functions/GetCardInfo/index.ts
Due: .ado/azure-pipelines-pr.yml

fix: rename cardName→name in Functions response to match OpenAPI spec (#164)
  backend/functions/src/functions/GetCardInfo/index.ts
  backend/functions/src/functions/GetCardsBySet/index.ts
  backend/functions/src/utils/cardToApiResponse.ts
Due: .ado/azure-pipelines-pr.yml

chore(infra): decommission Azure Static Web Apps + Porkbun DNS provisioning
  docs/deployment-guide.md
  infra/README.md
  infra/envs/dev/import-existing-resources.sh
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/variables.tf
  infra/envs/generate-secrets-tfvars.sh
  infra/envs/prod/import-existing-resources.sh
  infra/envs/prod/main.tf
  infra/envs/prod/outputs.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/import-existing-resources.sh
  infra/envs/staging/main.tf
  infra/envs/staging/outputs.tf
  infra/envs/staging/variables.tf
  infra/modules/static-web-app/main.tf
  infra/modules/static-web-app/outputs.tf
  infra/modules/static-web-app/variables.tf
  infra/modules/static-web-app/versions.tf
  pipelines/ado/templates/deploy-infra.yml
  pipelines/scripts/validate-deployment.sh
  tools/Makefile
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

fix: keep porkbun/time provider wiring until destroy applies
  infra/envs/dev/main.tf
  infra/envs/dev/variables.tf
  infra/envs/generate-secrets-tfvars.sh
  infra/envs/prod/main.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/main.tf
  infra/envs/staging/variables.tf
  pipelines/ado/templates/deploy-infra.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

chore(infra): decommission Azure Static Web Apps + Porkbun DNS (#165)
  docs/deployment-guide.md
  infra/README.md
  infra/envs/dev/import-existing-resources.sh
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/variables.tf
  infra/envs/generate-secrets-tfvars.sh
  infra/envs/prod/import-existing-resources.sh
  infra/envs/prod/main.tf
  infra/envs/prod/outputs.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/import-existing-resources.sh
  infra/envs/staging/main.tf
  infra/envs/staging/outputs.tf
  infra/envs/staging/variables.tf
  infra/modules/static-web-app/main.tf
  infra/modules/static-web-app/outputs.tf
  infra/modules/static-web-app/variables.tf
  infra/modules/static-web-app/versions.tf
  pipelines/ado/templates/deploy-infra.yml
  pipelines/scripts/validate-deployment.sh
  tools/Makefile
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

fix(docker): apt-get upgrade in runtime stage to clear base-image OS CVEs
  backend/functions/Dockerfile
Due: .ado/azure-pipelines-pr.yml

fix(docker): apt-get upgrade in runtime stage to clear base-image OS CVEs (#166)
  backend/functions/Dockerfile
Due: .ado/azure-pipelines-pr.yml

chore(pipelines): promote ACA image build to Build stage + skip-if-exists
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/templates/build-and-push-image.yml
  pipelines/ado/templates/deploy-aca.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

chore(pipelines): promote ACA image build to Build stage + skip-if-exists (#167)
  pipelines/ado/azure-pipelines.yml
  pipelines/ado/templates/build-and-push-image.yml
  pipelines/ado/templates/deploy-aca.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

feat(infra): migrate ACR to dedicated shared resource group
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/variables.tf
  infra/modules/container-registry/variables.tf
  infra/shared/main.tf
  infra/shared/outputs.tf
  infra/shared/variables.tf
  pipelines/ado/azure-pipelines.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

fix(shared): data-source the operator-created RG instead of trying to create it
  infra/shared/main.tf
  infra/shared/outputs.tf
  infra/shared/variables.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

feat(infra): migrate ACR to dedicated shared resource group (#168)
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/variables.tf
  infra/modules/container-registry/variables.tf
  infra/shared/main.tf
  infra/shared/outputs.tf
  infra/shared/variables.tf
  pipelines/ado/azure-pipelines.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

chore: remove forceRefresh end-to-end (fully redundant)
  apim/docs/README.md
  apim/specs/pcpc-api-v1.yaml
  apim/terraform/apis.tf
  apim/terraform/main.tf
  backend/functions/src/functions/GetCardInfo/index.ts
  backend/functions/src/functions/GetCardsBySet/index.ts
  backend/functions/src/functions/GetSetList/index.ts
  frontend/src/lib/services/api.ts
  frontend/src/lib/stores/sets.svelte.ts
  frontend/src/routes/api/sets/+server.ts
  frontend/src/routes/api/sets/[set_id]/cards/+server.ts
  frontend/src/routes/api/sets/[set_id]/cards/[card_id]/+server.ts
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

chore: remove forceRefresh end-to-end (fully redundant) (#169)
  apim/docs/README.md
  apim/specs/pcpc-api-v1.yaml
  apim/terraform/apis.tf
  apim/terraform/main.tf
  backend/functions/src/functions/GetCardInfo/index.ts
  backend/functions/src/functions/GetCardsBySet/index.ts
  backend/functions/src/functions/GetSetList/index.ts
  frontend/src/lib/services/api.ts
  frontend/src/lib/stores/sets.svelte.ts
  frontend/src/routes/api/sets/+server.ts
  frontend/src/routes/api/sets/[set_id]/cards/+server.ts
  frontend/src/routes/api/sets/[set_id]/cards/[card_id]/+server.ts
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

fix(apim): add empty request block to get_card_info to satisfy update API
  apim/terraform/apis.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

fix(apim): add empty request block to get_card_info to satisfy update API (#170)
  apim/terraform/apis.tf
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml

feat(phase-2.2): promote Path C (ACA) to staging + prod
  infra/envs/prod/main.tf
  infra/envs/prod/outputs.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/main.tf
  infra/envs/staging/outputs.tf
  infra/envs/staging/variables.tf
  pipelines/ado/azure-pipelines.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

fix(pipeline): add Build to dependsOn on Deploy_Staging + Deploy_Prod
  pipelines/ado/azure-pipelines.yml
Due: .ado/azure-pipelines-pr.yml, pipelines/azure-pipelines.yml

feat(phase-2.2): promote Path C (ACA) to staging + prod (#171)
  infra/envs/prod/main.tf
  infra/envs/prod/outputs.tf
  infra/envs/prod/variables.tf
  infra/envs/staging/main.tf
  infra/envs/staging/outputs.tf
  infra/envs/staging/variables.tf
  pipelines/ado/azure-pipelines.yml
Due: .ado/azure-pipelines-pr.yml, .ado/azure-pipelines.yml, pipelines/azure-pipelines.yml

fix(frontend): Path C must add /api route prefix (Functions host.json routePrefix=api)
  frontend/src/lib/backends/path-c-aca.ts
Due: .ado/azure-pipelines-pr.yml

fix(frontend): Path C must add /api route prefix (Functions host.json routePrefix=api) (#175)
  frontend/src/lib/backends/path-c-aca.ts
Due: .ado/azure-pipelines-pr.yml

Path conditions:
  .ado/azure-pipelines-pr.yml: any file but: docs, README.md, .gitignore
  .ado/azure-pipelines.yml: any of: app, infra, apim, .ado, but not: **/*.md, docs, tests
  pipelines/azure-pipelines.yml: any of: infra, pipelines
  pipelines/legacy/frontend-pipeline.yml: any of: app/frontend, pipelines/frontend-pipeline.yml, pipelines/templates/frontend-*.yml, pipelines/scripts/verify-frontend-deployment.sh
